<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239961648303-inqaobbhmb16n3qema2ka06026rgr57i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239961648303-inqaobbhmb16n3qema2ka06026rgr57i</string>
	<key>API_KEY</key>
	<string>AIzaSyDot6C2CReAuJj8sr5WjvJZjUDMHuf9a9A</string>
	<key>GCM_SENDER_ID</key>
	<string>239961648303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reddit</string>
	<key>PROJECT_ID</key>
	<string>reddit-2aa16</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-2aa16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239961648303:ios:28988c4030504ba48e385a</string>
</dict>
</plist>